<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="remoteFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="./remote/logs/remoteSample.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%c] %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.log4j.net.SimpleSocketServer"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="socketLogger"
		additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="remoteFile" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>